x-common: &common
  restart: always
  env_file: .env
  tty: true
  stdin_open: true
  stop_grace_period: 1s

x-backend-common: &backend-common
  <<: *common
  image: polimane-backend
  build:
    context: .
    dockerfile: ./ci/dev/backend/Dockerfile
  volumes:
  - ./backend:/app
  - ./tmp:/tmp/app
  - gomod_cache:/go/pkg/mod
  - go_cache:/root/.cache/go-build
  depends_on:
    db:
      condition: service_healthy
    sqs:
      condition: service_started

services:
  nginx:
    <<: *common
    image: nginx:1.29-alpine
    volumes:
    - ./ci/dev/nginx/nginx.conf:/etc/nginx/nginx.conf
    - ./ci/dev/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    - ./ci/dev/nginx/partials:/etc/nginx/partials
    - ./ci/dev/certs:/etc/nginx/certs:ro
    ports:
    - "80:80"
    - "443:443"
    depends_on:
    - frontend
    - backend

  frontend:
    <<: *common
    build:
      context: .
      dockerfile: ./ci/dev/frontend/Dockerfile
    command: bun --bun dev
    volumes:
    - ./frontend:/app
    - ./frontend/node_modules:/app/node_modules
    - ./ci/dev/certs:/certs:ro
    - bun_cache:/root/.bun/install/cache

  backend:
    <<: *backend-common
    command: make dev_api

  worker:
    <<: *backend-common
    command: make dev_worker

  scheduler:
    <<: *common
    build: ./ci/dev/scheduler
    depends_on:
    - sqs

  db:
    <<: *common
    image: cockroachdb/cockroach:latest-v25.3
    environment:
      COCKROACH_ARGS: start-single-node --insecure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health?ready=1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
    - "26257:26257"
    volumes:
    - cockroach_data:/cockroach/cockroach-data

  sqs:
    <<: *common
    image: softwaremill/elasticmq-native:1.6.15
    volumes:
    - sqs_data:/data
    - ./ci/dev/sqs/elasticmq.conf:/opt/elasticmq.conf
    ports:
    - "9325:9325"

  s3:
    <<: *common
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin1
      MINIO_ROOT_PASSWORD: minioadmin1
    ports:
    - "9001:9001"
    volumes:
    - s3_data:/data

volumes:
  bun_cache:
    driver: local
  gomod_cache:
    driver: local
  go_cache:
    driver: local
  cockroach_data:
    driver: local
  sqs_data:
    driver: local
  s3_data:
    driver: local
