<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 {{ .Width }} {{ .Height }}"
  width="{{ .Width }}"
  height="{{ .Height }}"
>
  <rect x="0" y="0" width="{{ .Width }}" height="{{ .Height }}" fill="{{ .BackgroundColor }}" />
  {{- range beadsGrid . }}
    <circle
      r="{{ $.ShapeRadius }}"
      cx="{{ .CenterX }}"
      cy="{{ .CenterY }}"
      fill="{{ .Color }}"
    />
  {{ end -}}
</svg>
