<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 {{ .Width }} {{ .Height }}"
  width="{{ .Width }}"
  height="{{ .Height }}"
>
  <rect x="0" y="0" width="{{ .Width }}" height="{{ .Height }}" fill="{{ .BackgroundColor }}" />
  {{- range beadsGrid . -}}
    {{- $bead := . -}}
    {{- if isPresent .Circle -}}
      {{- with .Circle -}}
        <circle
          r="{{ $.CircleRadius }}"
          cx="{{ .CenterX }}"
          cy="{{ .CenterY }}"
          fill="{{ $bead.Color }}"
        />
      {{- end -}}
    {{- else if isPresent .Bugle -}}
      {{- with .Bugle -}}
        <rect
          x="{{ .X }}"
          y="{{ .Y }}"
          rx="{{ $.BugleCornerRadius }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
          fill="{{ $bead.Color }}"
        />
      {{- end -}}
    {{- end -}}
  {{- end -}}
</svg>
