*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
}

body,
html {
  height: 100%;
}

html {
  background-color: var(--color-background-1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-md);
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
}

#nprogress {
  .bar {
    background-color: var(--color-primary)
  }

  .peg {
    box-shadow: 0 0 10px var(--color-primary), 0 0 5px var(--color-primary)
  }
}
