.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tap-animation-in {
  animation: tap-in 300ms ease-out forwards;
}

.tap-animation-out {
  animation: tap-out 150ms ease-out forwards;
}

@property --tap-scale {
  inherits: true;
  initial-value: 0.95;
  syntax: '<number>';
}

@keyframes tap-in {
  from {
    scale: 1;
  }

  to {
    scale: var(--tap-scale);
  }
}

@keyframes tap-out {
  from {
    scale: var(--tap-scale);
  }

  to {
    scale: 1;
  }
}
