:root {
  --color-white: #FFF;
  --color-black: #1A1A1A;
  --color-danger: #E7000B;
  --color-primary: var(--color-black);

  --color-divider: color-mix(in srgb, var(--color-black), var(--color-white) 80%);
  --color-divider-2: color-mix(in srgb, var(--color-black), var(--color-white) 60%);
  --color-hover-divider: var(--color-divider-2);

  --color-background-1: var(--color-white);
  --color-background-2: color-mix(in srgb, var(--color-black), var(--color-white) 97%);
  --color-background-3: color-mix(in srgb, var(--color-black), var(--color-white) 93%);

  --color-text-1: var(--color-black);
  --color-text-2: color-mix(in srgb, var(--color-black), transparent 20%);
  --color-text-3: color-mix(in srgb, var(--color-black), transparent 40%);

  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;

  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-full: 9999px;

  --divider: 1px solid var(--color-divider);

  --box-shadow: 0 1px 2px 0 color-mix(in srgb, var(--color-black), transparent 95%);
}
