:root {
  --color-white: #fff;
  --color-black: rgba(0, 0, 0, 0.9);
  --color-primary: var(--color-black);
  --color-divider: color-mix(in srgb, var(--color-black), transparent 90%);

  --font-sm: 14px;
  --font-md: 16px;

  --rounded-md: 8px;
}
